<footer>
        <div class="footer-info">
            <div class="info-social-links">
                <a href="https://www.facebook.com/login/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://in.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="footer-info-brand">&copy; Wanderlust Private Limited</div>
            <div class="info-social-terms">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
</footer>