    <% layout('layouts/boilerplate.ejs') %>
    <section id="description">
        <h2 class="explore">Explore Wanderlust</h2>
        <p>At Wanderlust, we believe that travel is not just about visiting new places; it's about embracing new perspectives, immersing yourself in diverse cultures, and connecting with the world around you. With our curated collection of accommodations and experiences, we invite you to embark on a journey of discovery and self-discovery.</p>
        <p>Indulge your wanderlust with our handpicked selection of destinations spanning every corner of the globe. From the snow-capped peaks of the Himalayas to the sun-kissed beaches of the Caribbean, each destination offers a unique tapestry of sights, sounds, and flavors waiting to be explored.</p>
        <p>But Wanderlust is more than just a travel platform; it's a testament to the transformative power of travel. It's about breaking free from routine, stepping outside your comfort zone, and embracing the unknown with open arms. Whether you're a seasoned globetrotter or a first-time adventurer, Wanderlust is here to accompany you every step of the way.</p>
        <p>So pack your bags, leave your worries behind, and let Wanderlust be your compass as you navigate the vast expanse of the world. Your next great adventure awaits—where will Wanderlust take you?</p>
    </section>
    

<hr>

    <h2 class="explore">What Our Customers Say</h2>
    <section id="testimonials">
        <div class="testimonial">
            <h2><cite>Emile Smith</cite></h2>
            <img src="https://img.freepik.com/premium-photo/memoji-happy-man-white-background-emoji_826801-6838.jpg?w=740" alt="User Avatar">
            <blockquote>"I've used Wanderlust for all my travel bookings, and it never disappoints. From quaint B&Bs to luxurious resorts, there's something for every traveler."</blockquote>
        </div>
        <div class="testimonial">
            <h2><cite>John Doe</cite></h2>
            <img src="https://img.freepik.com/premium-photo/young-man-working-laptop-boy-freelancer-student-with-computer-cafe-table_826801-6658.jpg?w=740" alt="User Avatar">
            <blockquote>"Thanks to Wanderlust, I found the perfect vacation rental for my family. The booking process was seamless, and the property exceeded our expectations!"</blockquote>
        </div>
    </section>
    <section id="testimonials">
        <div class="testimonial">
            <h2><cite>Jane Smith</cite></h2>
            <img src="https://img.freepik.com/free-photo/smiling-beautiful-girl-trendy-summer-clothes-denim-shorts-holding-vintage-camera-isolated-blue-wall_171337-19283.jpg?size=626&ext=jpg" alt="User Avatar">
            <blockquote>"My experience with Wanderlust was nothing short of amazing! As a solo traveler, I rely on trustworthy platforms to help me find safe and comfortable accommodations during my adventures. Wanderlust not only met but exceeded my expectations."</blockquote>
        </div>
        <div class="testimonial">
            <h2><cite>David Rodriguez</cite></h2>
            <img src="https://img.freepik.com/free-photo/happy-man-taking-selfie-with-smartphone_23-2147853013.jpg?size=626&ext=jpg" alt="User Avatar">
            <blockquote>"Wanderlust has been a game-changer for me and my friends when planning our annual group trips. With varying preferences and budgets, finding the perfect accommodation used to be a hassle. But with Wanderlust, it's never been easier."</blockquote>
        </div>
        
    </section>
