<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-6 offset-3">
            <form action="/signup" method="POST" novalidate class="needs-validation">
                <div class="newForm">
                    <h3 class="col-8 offset-3">Welcome to Wanderlust</h3>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username </label>
                        <input type="text" name="username" placeholder="Enter your username" class="form-control"
                            id="username" required>
                        <div class="invalid-feedback">Please Enter Valid username</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email </label>
                        <input type="email" name="email" placeholder="Enter your email" class="form-control" id="email"
                            required>
                        <div class="invalid-feedback">Please Enter Valid Email</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password </label>
                        <input type="password" name="password" placeholder="Enter your password" class="form-control"
                            id="password" required>
                        <div class="invalid-feedback">Please Enter Valid Password</div>
                    </div>
                    <button class="btn btn-success">Continue</button>
                </div>
            </form>
        </div>
    </div>
